In [1]:
"""
    Helper functions used troughout the rest of this notebook
"""
import time

from visualize import *

from cpmpy.transformations.normalize import toplevel_list
from factory import *
from read_data import get_data

import numpy as np
np.set_printoptions(linewidth=90)


instance = "Benchmarks/Instance1.txt"
data = get_data(instance)

nurses = data.staff['name'].tolist()


max_consequtive_constraints = []
weekdays_cons = []
#cons.max_weekends = max_weekends

## Explainable Constraint Solving - A Hands-On Tutorial
### Ignace Bleukx, Dimos Tsouros, Tias Guns

<p>&nbsp;</p>

<table><tr style="background: white;">
    <td>&nbsp;</td>
    <td style="text-align: center; vertical-align: middle;"><img src="img/kul.jpg" width=40%></td>
    <td style="text-align: center; vertical-align: middle;"><img src="img/erc.jpg" width=45%></td>
</tr></table>

<!-- Thanks to Bart Bogaerts, Emilio Gamba and Jo Devriendt -->


<small>Hands-on: this presentation is an executable Jupyter notebook</small>

## Model + Solve

<center><img src="img/model_solve.png" width=70% /></center>

- What if the model is UNSAT?
- What if the solution is unexpected?
- What if the user wants to change something?

--> Trustworthy & Explainable AI

## Trustworthy & Explainable constraint solving

Human-aware AI:

- Respect human <i>agency</i>
- <i>Support</i> users in decision making
- Provide explanations and learning opportunities

Acknowledges that a 'model' is only an approximation,<br />
that it might result in <i>undesirable</i> solutions.

## Trustworthy & Explainable constraint solving -- SKIPPED

Acknowledges that a 'model' is only an approximation,<br />
that it might result in <i>undesirable</i> solutions.

Explanations as <b>model reconciliation</b>

<center><img src="img/model_reconciliation.png" width=50%></center>

<small>Img Source: Explanation Generation as Model Reconciliation in Multi-Model Planning, Chakraborti et al.</small>

## Explainable AI (XAI), brief highlights

D. Gunning, 2015: DARPA XAI challenge

<small>"Every explanation is set within a context that depends on..." <!-- the task, abilities, and expectations of the user of the AI system." --> -> domain dependent</small>

M. Fox et al, 2017: Explainable Planning

<small>Need for trust, interaction and transparancy.</small>

T. Miller, 2018: Explainable AI: Beware of Inmates Running the Asylum

<small>Insights from the social sciences: <i>Someone</i> explains <i>something</i> to <i>someone</i></small>

R. Guidotti, 2018: A survey of methods for explaining black box ML models

<small>The vast majority of work/attention</small>

## 'Explaining' constraint propagation?

Concept from Lazy Clause Generation / CP-SAT solvers (Stuckey, 2010)

"every time a propagator determines a domain change of a variable,<br /> it records a <b>clause</b> that <i>explains</i> the domain change."

- Explains one domain change of one propagator
- Is a clause (disjunction of literals)
- Receiver is a SAT solver, not a person

## Explainable Constraint Programming (XCP)

In general, "<b>Why X?</b>" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (with X a solution or UNSAT)

To be defined...

## Explainable Constraint Programming (XCP)

In general, "<b>Why X?</b>" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (with X a solution or UNSAT)

To be defined... 3 patterns:
- <u>Causal explanation</u>:
  - How was X derived?
- <u>Contrastive explanation</u>:
  - Why X and not Z?
- <u>Conversational explanation</u>:
  - Iteratively refine explanation & model

## Explainable constraint solving

"Explaining UNSAT" vs "Explaining a solution"

## Explainable constraint solving

Causal explanation, mode of interaction:

<center><img src="img/interaction_figure4.png" width=20% /></center>

Then what?

## Explainable constraint solving

Causal explanation, mode of interaction:

<table><tr>
    <td width=20%>
<center><img src="img/interaction_figure4.png" /></center>
    </td>
    <td style="text-align: left">

### Then what?
        
Options:

1. User is happy with the answer (e.g. better understands the problem)
2. User changes the answer and uses that (solution interaction; no solver involvement)
3. User changes the model and reiterates (e.g. better understands how to model the problem)
4. User interacts with interactive system (e.g. conversational explanations)
    </td>
</tr></table>

## Explainable Constraint Programming (XCP)

Recurring challenges:
- <u>Definition of explanation</u>: question and answer format
- <u>Computational efficiency</u>
- <u>Explanation selection</u>: which explanation to show
- <u>User Interaction?</u> (visualisation, single/multi-query, memory)
- <u>Explanation evaluation</u>: computational, formal, user survey, user study

## Hands-on Explainable Constraint Programming (XCP)

<table><tr>
    <td width=20%>
<center><img src="img/interaction_figure4.png" /></center>
    </td>
    <td style="text-align: left">

* <u>The model</u>: Nurse Rostering
* <u>The system</u>: CPMpy modeling library
* <u>Explain UNSAT</u>:
    * Causal explanations (MUS, OUS, sequence)
    * Conversational explanations
* <u>Explain a solution</u>:
    * Causal explanations
    * Contrastive explanations
    </td>
        
</tr></table>

## The model: Nurse Scheduling

<img src="img/nurse_rost_prob.jpg" />

* The assignment of <i>shifts</i> and <i>holidays</i> to nurses.
* Each nurse has their own restrictions and preferences,<br /> as does the hospital.

## Nurse Rostering: data

Instances from http://www.schedulingbenchmarks.org/

"benchmark test instances from various sources including industrial collaborators and scientific publications."

<!-- 7 types of hospital constraints, 2 types of nurse constraints -->

In [2]:
#instance = "http://www.schedulingbenchmarks.org/nrp/data/Instance1.txt"
instance = "Benchmarks/Instance1.txt"
data = get_data(instance)

data.staff

,# ID,MaxShifts,MaxTotalMinutes,MinTotalMinutes,MaxConsecutiveShifts,MinConsecutiveShifts,MinConsecutiveDaysOff,MaxWeekends,D,name
0,A,D=14,4320,3360,5,2,2,1,14,Megan
1,B,D=14,4320,3360,5,2,2,1,14,Katherine
2,C,D=14,4320,3360,5,2,2,1,14,Robert
3,D,D=14,4320,3360,5,2,2,1,14,Jonathan
4,E,D=14,4320,3360,5,2,2,1,14,William
5,F,D=14,4320,3360,5,2,2,1,14,Richard
6,G,D=14,4320,3360,5,2,2,1,14,Kristen
7,H,D=14,4320,3360,5,2,2,1,14,Kevin

In [3]:
print("Nr of days to schedule:", data.horizon)
print("Nr of shift types:", len(data.shifts))

pd.merge(data.days_off, data.staff[["# ID","name"]], left_on="EmployeeID", right_on="# ID", how="left")

Nr of days to schedule: 14
Nr of shift types: 1

   DayIdx # ID       name
0       0    A      Megan
1       5    B  Katherine
2       8    C     Robert
3       2    D   Jonathan
4       9    E    William
5       5    F    Richard
6       1    G    Kristen
7       7    H      Kevin

## Nurse Rostering: constraints

<table><tr>
    <td style="text-align: left">

### hospital constraints/preferences:

* nb of nurses assigned
* max nb of shifts
* max nb of weekend shifts
* min nb of (consecutive) days off
* min/max minutes worked
* min/max consecutive shifts
* shift rotation

### nurse constraints/preferences:
* specific days off-duty
* specific shift requests (on/off)
        
    </td>
    <td width=50%>
<center><img src="img/nurse_rost_prob.jpg" /></center>
    </td>
</tr></table>


<!-- [categories of constraints, in words]
[again some image that demonstrates some]-->

## The system: http://cpmpy.readthedocs.io

CPMpy is a Constraint Programming and Modeling library in Python, <br /> based on numpy, with direct solver access. <br /> 

<u>Features</u> used in this tutorial:

* Easy integration with visualisation tools (pandas, matplotlib)
* Object-oriented programming (constraints are Python objects we can create, copy, update)
* Repeatedly solving subsets of constraints (assumption variables)
* Incremental solving (e.g. SAT, MIP/Hitting set)

## Nurse Rostering in CPMpy

### Variables: 

assignment of shift types (0=none) to nurses

In [4]:
nurse_view = cp.intvar(0, len(data.shifts), # lb, ub
                       shape=(len(data.staff), data.horizon),
                       name="nv")
nurse_view

NDVarArray([[nv[0,0], nv[0,1], nv[0,2], nv[0,3], nv[0,4], nv[0,5], nv[0,6], nv[0,7],
             nv[0,8], nv[0,9], nv[0,10], nv[0,11], nv[0,12], nv[0,13]],
            [nv[1,0], nv[1,1], nv[1,2], nv[1,3], nv[1,4], nv[1,5], nv[1,6], nv[1,7],
             nv[1,8], nv[1,9], nv[1,10], nv[1,11], nv[1,12], nv[1,13]],
            [nv[2,0], nv[2,1], nv[2,2], nv[2,3], nv[2,4], nv[2,5], nv[2,6], nv[2,7],
             nv[2,8], nv[2,9], nv[2,10], nv[2,11], nv[2,12], nv[2,13]],
            [nv[3,0], nv[3,1], nv[3,2], nv[3,3], nv[3,4], nv[3,5], nv[3,6], nv[3,7],
             nv[3,8], nv[3,9], nv[3,10], nv[3,11], nv[3,12], nv[3,13]],
            [nv[4,0], nv[4,1], nv[4,2], nv[4,3], nv[4,4], nv[4,5], nv[4,6], nv[4,7],
             nv[4,8], nv[4,9], nv[4,10], nv[4,11], nv[4,12], nv[4,13]],
            [nv[5,0], nv[5,1], nv[5,2], nv[5,3], nv[5,4], nv[5,5], nv[5,6], nv[5,7],
             nv[5,8], nv[5,9], nv[5,10], nv[5,11], nv[5,12], nv[5,13]],
            [nv[6,0], nv[6,1], nv[6,2], nv[6,3], nv[6,4], nv[6,5], nv[6,6], nv[6,7],
             nv[6,8], nv[6,9], nv[6,10], nv[6,11], nv[6,12], nv[6,13]],
            [nv[7,0], nv[7,1], nv[7,2], nv[7,3], nv[7,4], nv[7,5], nv[7,6], nv[7,7],
             nv[7,8], nv[7,9], nv[7,10], nv[7,11], nv[7,12], nv[7,13]]], dtype=object)

### Constraints:

Specific days off-duty

In [5]:
for (empl_id, row) in data.days_off.iterrows():
    empl_idx = data.staff.index[data.staff["# ID"] == empl_id][0]
    day_idx = row["DayIdx"]
    
    con = (nurse_view[empl_idx, day_idx] == 0)
    
    con.set_description(f"{data.staff.iloc[empl_idx]['name']} should not work on day {day_idx}")
    print(con)

Megan should not work on day 0
Katherine should not work on day 5
Robert should not work on day 8
Jonathan should not work on day 2
William should not work on day 9
Richard should not work on day 5
Kristen should not work on day 1
Kevin should not work on day 7

Max consecutive shifts constraints:

In [6]:
for nurse_id, row in data.staff.iterrows():
    max_days = row["MaxConsecutiveShifts"]
    
    # post on rolling window: in max_days+1 window, at least one day off
    k = max_days+1
    for i in range(data.horizon - max_days):
        con = cp.Count(nurse_view[nurse_id, i:i+k], 0) >= 1
        
        con.set_description(f"{row['name']} can work at most {max_days} days in a row")
        print(con, "--", con.__repr__())

Megan can work at most 5 days in a row -- count([nv[0,0],nv[0,1],nv[0,2],nv[0,3],nv[0,4],nv[0,5]],0) >= 1
Megan can work at most 5 days in a row -- count([nv[0,1],nv[0,2],nv[0,3],nv[0,4],nv[0,5],nv[0,6]],0) >= 1
Megan can work at most 5 days in a row -- count([nv[0,2],nv[0,3],nv[0,4],nv[0,5],nv[0,6],nv[0,7]],0) >= 1
Megan can work at most 5 days in a row -- count([nv[0,3],nv[0,4],nv[0,5],nv[0,6],nv[0,7],nv[0,8]],0) >= 1
Megan can work at most 5 days in a row -- count([nv[0,4],nv[0,5],nv[0,6],nv[0,7],nv[0,8],nv[0,9]],0) >= 1
Megan can work at most 5 days in a row -- count([nv[0,5],nv[0,6],nv[0,7],nv[0,8],nv[0,9],nv[0,10]],0) >= 1
Megan can work at most 5 days in a row -- count([nv[0,6],nv[0,7],nv[0,8],nv[0,9],nv[0,10],nv[0,11]],0) >= 1
Megan can work at most 5 days in a row -- count([nv[0,7],nv[0,8],nv[0,9],nv[0,10],nv[0,11],nv[0,12]],0) >= 1
Megan can work at most 5 days in a row -- count([nv[0,8],nv[0,9],nv[0,10],nv[0,11],nv[0,12],nv[0,13]],0) >= 1
Katherine can work at most 5 days in a row -- count([nv[1,0],nv[1,1],nv[1,2],nv[1,3],nv[1,4],nv[1,5]],0) >= 1
Katherine can work at most 5 days in a row -- count([nv[1,1],nv[1,2],nv[1,3],nv[1,4],nv[1,5],nv[1,6]],0) >= 1
Katherine can work at most 5 days in a row -- count([nv[1,2],nv[1,3],nv[1,4],nv[1,5],nv[1,6],nv[1,7]],0) >= 1
Katherine can work at most 5 days in a row -- count([nv[1,3],nv[1,4],nv[1,5],nv[1,6],nv[1,7],nv[1,8]],0) >= 1
Katherine can work at most 5 days in a row -- count([nv[1,4],nv[1,5],nv[1,6],nv[1,7],nv[1,8],nv[1,9]],0) >= 1
Katherine can work at most 5 days in a row -- count([nv[1,5],nv[1,6],nv[1,7],nv[1,8],nv[1,9],nv[1,10]],0) >= 1
Katherine can work at most 5 days in a row -- count([nv[1,6],nv[1,7],nv[1,8],nv[1,9],nv[1,10],nv[1,11]],0) >= 1
Katherine can work at most 5 days in a row -- count([nv[1,7],nv[1,8],nv[1,9],nv[1,10],nv[1,11],nv[1,12]],0) >= 1
Katherine can work at most 5 days in a row -- count([nv[1,8],nv[1,9],nv[1,10],nv[1,11],nv[1,12],nv[1,13]],0) >= 1
Robert can work at most 5 days in a row -- count([nv[2,0],nv[2,1],nv[2,2],nv[2,3],nv[2,4],nv[2,5]],0) >= 1
Robert can work at most 5 days in a row -- count([nv[2,1],nv[2,2],nv[2,3],nv[2,4],nv[2,5],nv[2,6]],0) >= 1
Robert can work at most 5 days in a row -- count([nv[2,2],nv[2,3],nv[2,4],nv[2,5],nv[2,6],nv[2,7]],0) >= 1
Robert can work at most 5 days in a row -- count([nv[2,3],nv[2,4],nv[2,5],nv[2,6],nv[2,7],nv[2,8]],0) >= 1
Robert can work at most 5 days in a row -- count([nv[2,4],nv[2,5],nv[2,6],nv[2,7],nv[2,8],nv[2,9]],0) >= 1
Robert can work at most 5 days in a row -- count([nv[2,5],nv[2,6],nv[2,7],nv[2,8],nv[2,9],nv[2,10]],0) >= 1
Robert can work at most 5 days in a row -- count([nv[2,6],nv[2,7],nv[2,8],nv[2,9],nv[2,10],nv[2,11]],0) >= 1
Robert can work at most 5 days in a row -- count([nv[2,7],nv[2,8],nv[2,9],nv[2,10],nv[2,11],nv[2,12]],0) >= 1
Robert can work at most 5 days in a row -- count([nv[2,8],nv[2,9],nv[2,10],nv[2,11],nv[2,12],nv[2,13]],0) >= 1
Jonathan can work at most 5 days in a row -- count([nv[3,0],nv[3,1],nv[3,2],nv[3,3],nv[3,4],nv[3,5]],0) >= 1
Jonathan can work at most 5 days in a row -- count([nv[3,1],nv[3,2],nv[3,3],nv[3,4],nv[3,5],nv[3,6]],0) >= 1
Jonathan can work at most 5 days in a row -- count([nv[3,2],nv[3,3],nv[3,4],nv[3,5],nv[3,6],nv[3,7]],0) >= 1
Jonathan can work at most 5 days in a row -- count([nv[3,3],nv[3,4],nv[3,5],nv[3,6],nv[3,7],nv[3,8]],0) >= 1
Jonathan can work at most 5 days in a row -- count([nv[3,4],nv[3,5],nv[3,6],nv[3,7],nv[3,8],nv[3,9]],0) >= 1
Jonathan can work at most 5 days in a row -- count([nv[3,5],nv[3,6],nv[3,7],nv[3,8],nv[3,9],nv[3,10]],0) >= 1
Jonathan can work at most 5 days in a row -- count([nv[3,6],nv[3,7],nv[3,8],nv[3,9],nv[3,10],nv[3,11]],0) >= 1
Jonathan can work at most 5 days in a row -- count([nv[3,7],nv[3,8],nv[3,9],nv[3,10],nv[3,11],nv[3,12]],0) >= 1
Jonathan can work at most 5 days in a row -- count([nv[3,8],nv[3,9],nv[3,10],nv[3,11],nv[3,12],nv[3,13]],0) >= 1
William can work at most 5 days in a row -- count([nv[4,0],nv[4,1],nv[4,2],nv[4,3],nv[4,4],nv[4,5]],0) >= 1
William can work at most 5 days in a row -- count([nv[4,1],nv[4,2],nv[4,3],nv[4,4],nv[4,5],nv[4,6]],0) >= 1
William can work at most 5 days in a row -- count([nv[4,2],nv[4,3],nv[4,4],nv[4,5],nv[4,6],nv[4,7]],0) >= 1
William can work at most 5 days in a row -- count([nv[4,3],nv[4,4],nv[4,5],nv[4,6],nv[4,7],nv[4,8]],0) >= 1
William can work at most 5 days in a row -- count([nv[4,4],nv[4,5],nv[4,6],nv[4,7],nv[4,8],nv[4,9]],0) >= 1
William can work at most 5 days in a row -- count([nv[4,5],nv[4,6],nv[4,7],nv[4,8],nv[4,9],nv[4,10]],0) >= 1
William can work at most 5 days in a row -- count([nv[4,6],nv[4,7],nv[4,8],nv[4,9],nv[4,10],nv[4,11]],0) >= 1
William can work at most 5 days in a row -- count([nv[4,7],nv[4,8],nv[4,9],nv[4,10],nv[4,11],nv[4,12]],0) >= 1
William can work at most 5 days in a row -- count([nv[4,8],nv[4,9],nv[4,10],nv[4,11],nv[4,12],nv[4,13]],0) >= 1
Richard can work at most 5 days in a row -- count([nv[5,0],nv[5,1],nv[5,2],nv[5,3],nv[5,4],nv[5,5]],0) >= 1
Richard can work at most 5 days in a row -- count([nv[5,1],nv[5,2],nv[5,3],nv[5,4],nv[5,5],nv[5,6]],0) >= 1
Richard can work at most 5 days in a row -- count([nv[5,2],nv[5,3],nv[5,4],nv[5,5],nv[5,6],nv[5,7]],0) >= 1
Richard can work at most 5 days in a row -- count([nv[5,3],nv[5,4],nv[5,5],nv[5,6],nv[5,7],nv[5,8]],0) >= 1
Richard can work at most 5 days in a row -- count([nv[5,4],nv[5,5],nv[5,6],nv[5,7],nv[5,8],nv[5,9]],0) >= 1
Richard can work at most 5 days in a row -- count([nv[5,5],nv[5,6],nv[5,7],nv[5,8],nv[5,9],nv[5,10]],0) >= 1
Richard can work at most 5 days in a row -- count([nv[5,6],nv[5,7],nv[5,8],nv[5,9],nv[5,10],nv[5,11]],0) >= 1
Richard can work at most 5 days in a row -- count([nv[5,7],nv[5,8],nv[5,9],nv[5,10],nv[5,11],nv[5,12]],0) >= 1
Richard can work at most 5 days in a row -- count([nv[5,8],nv[5,9],nv[5,10],nv[5,11],nv[5,12],nv[5,13]],0) >= 1
Kristen can work at most 5 days in a row -- count([nv[6,0],nv[6,1],nv[6,2],nv[6,3],nv[6,4],nv[6,5]],0) >= 1
Kristen can work at most 5 days in a row -- count([nv[6,1],nv[6,2],nv[6,3],nv[6,4],nv[6,5],nv[6,6]],0) >= 1
Kristen can work at most 5 days in a row -- count([nv[6,2],nv[6,3],nv[6,4],nv[6,5],nv[6,6],nv[6,7]],0) >= 1
Kristen can work at most 5 days in a row -- count([nv[6,3],nv[6,4],nv[6,5],nv[6,6],nv[6,7],nv[6,8]],0) >= 1
Kristen can work at most 5 days in a row -- count([nv[6,4],nv[6,5],nv[6,6],nv[6,7],nv[6,8],nv[6,9]],0) >= 1
Kristen can work at most 5 days in a row -- count([nv[6,5],nv[6,6],nv[6,7],nv[6,8],nv[6,9],nv[6,10]],0) >= 1
Kristen can work at most 5 days in a row -- count([nv[6,6],nv[6,7],nv[6,8],nv[6,9],nv[6,10],nv[6,11]],0) >= 1
Kristen can work at most 5 days in a row -- count([nv[6,7],nv[6,8],nv[6,9],nv[6,10],nv[6,11],nv[6,12]],0) >= 1
Kristen can work at most 5 days in a row -- count([nv[6,8],nv[6,9],nv[6,10],nv[6,11],nv[6,12],nv[6,13]],0) >= 1
Kevin can work at most 5 days in a row -- count([nv[7,0],nv[7,1],nv[7,2],nv[7,3],nv[7,4],nv[7,5]],0) >= 1
Kevin can work at most 5 days in a row -- count([nv[7,1],nv[7,2],nv[7,3],nv[7,4],nv[7,5],nv[7,6]],0) >= 1
Kevin can work at most 5 days in a row -- count([nv[7,2],nv[7,3],nv[7,4],nv[7,5],nv[7,6],nv[7,7]],0) >= 1
Kevin can work at most 5 days in a row -- count([nv[7,3],nv[7,4],nv[7,5],nv[7,6],nv[7,7],nv[7,8]],0) >= 1
Kevin can work at most 5 days in a row -- count([nv[7,4],nv[7,5],nv[7,6],nv[7,7],nv[7,8],nv[7,9]],0) >= 1
Kevin can work at most 5 days in a row -- count([nv[7,5],nv[7,6],nv[7,7],nv[7,8],nv[7,9],nv[7,10]],0) >= 1
Kevin can work at most 5 days in a row -- count([nv[7,6],nv[7,7],nv[7,8],nv[7,9],nv[7,10],nv[7,11]],0) >= 1
Kevin can work at most 5 days in a row -- count([nv[7,7],nv[7,8],nv[7,9],nv[7,10],nv[7,11],nv[7,12]],0) >= 1
Kevin can work at most 5 days in a row -- count([nv[7,8],nv[7,9],nv[7,10],nv[7,11],nv[7,12],nv[7,13]],0) >= 1

## Object-oriented Nurse Rostering CPMpy model factory

In [7]:
factory = NurseSchedulingFactory(data)
model, nurse_view = factory.get_full_model()  # CPMpy model with all constraints
model.solve(solver="ortools")

True

In [8]:
nurse_view.value()

array([[0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0],
       [1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0],
       [1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0],
       [0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1],
       [1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1],
       [0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1],
       [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0]])

## Nurse rostering in CPMpy: visualisation, with pandas

In [9]:
visualize(nurse_view.value(), factory)

## Hands-on Explainable Constraint Programming (XCP)

<table><tr>
    <td width=20%>
<center><img src="img/interaction_figure4.png" /></center>
    </td>
    <td style="text-align: left">

* <u>The model</u>: Nurse Rostering
* <u>The system</u>: CPMpy modeling library
* <u><b>Explain UNSAT</b></u>:
    * Causal explanations (MUS, OUS, sequence)
    * Conversational explanations
* <u>Explain a solution</u>:
    * Causal explanations
    * Contrastive explanations
    </td>
        
</tr></table>

## Minimal Unsatisfiable Subsets (MUS)

<table><tr>
    <td style="text-align: left">
        
* Model NSP as decision model
        
* "Nurse constraints" are also hard constraints
        
    </td>
    <td width=20%>
<center><img src="img/explain_unsat.png" /></center>
    </td>        
</tr></table>

In [10]:
# model as decision model
factory = NurseSchedulingFactory(data)
model, nurse_view = factory.get_decision_model()  # CMPpy DECISION Model
model.solve()

False

... no solution found

In [11]:
constraints = toplevel_list(model.constraints, merge_and=False) # normalization for later
print(f"Model has {len(constraints)} constraints:")
for cons in constraints: print(".", cons)

Model has 168 constraints:
. Megan cannot work more than 14 shifts of type 1
. Katherine cannot work more than 14 shifts of type 1
. Robert cannot work more than 14 shifts of type 1
. Jonathan cannot work more than 14 shifts of type 1
. William cannot work more than 14 shifts of type 1
. Richard cannot work more than 14 shifts of type 1
. Kristen cannot work more than 14 shifts of type 1
. Kevin cannot work more than 14 shifts of type 1
. Megan cannot work more than 4320min
. Katherine cannot work more than 4320min
. Robert cannot work more than 4320min
. Jonathan cannot work more than 4320min
. William cannot work more than 4320min
. Richard cannot work more than 4320min
. Kristen cannot work more than 4320min
. Kevin cannot work more than 4320min
. Megan cannot work more than 3360min
. Katherine cannot work more than 3360min
. Robert cannot work more than 3360min
. Jonathan cannot work more than 3360min
. William cannot work more than 3360min
. Richard cannot work more than 3360min
. Kristen cannot work more than 3360min
. Kevin cannot work more than 3360min
. Megan can work at most 5 days before having a day off
. Megan can work at most 5 days before having a day off
. Megan can work at most 5 days before having a day off
. Megan can work at most 5 days before having a day off
. Megan can work at most 5 days before having a day off
. Megan can work at most 5 days before having a day off
. Megan can work at most 5 days before having a day off
. Megan can work at most 5 days before having a day off
. Megan can work at most 5 days before having a day off
. Katherine can work at most 5 days before having a day off
. Katherine can work at most 5 days before having a day off
. Katherine can work at most 5 days before having a day off
. Katherine can work at most 5 days before having a day off
. Katherine can work at most 5 days before having a day off
. Katherine can work at most 5 days before having a day off
. Katherine can work at most 5 days before having a day off
. Katherine can work at most 5 days before having a day off
. Katherine can work at most 5 days before having a day off
. Robert can work at most 5 days before having a day off
. Robert can work at most 5 days before having a day off
. Robert can work at most 5 days before having a day off
. Robert can work at most 5 days before having a day off
. Robert can work at most 5 days before having a day off
. Robert can work at most 5 days before having a day off
. Robert can work at most 5 days before having a day off
. Robert can work at most 5 days before having a day off
. Robert can work at most 5 days before having a day off
. Jonathan can work at most 5 days before having a day off
. Jonathan can work at most 5 days before having a day off
. Jonathan can work at most 5 days before having a day off
. Jonathan can work at most 5 days before having a day off
. Jonathan can work at most 5 days before having a day off
. Jonathan can work at most 5 days before having a day off
. Jonathan can work at most 5 days before having a day off
. Jonathan can work at most 5 days before having a day off
. Jonathan can work at most 5 days before having a day off
. William can work at most 5 days before having a day off
. William can work at most 5 days before having a day off
. William can work at most 5 days before having a day off
. William can work at most 5 days before having a day off
. William can work at most 5 days before having a day off
. William can work at most 5 days before having a day off
. William can work at most 5 days before having a day off
. William can work at most 5 days before having a day off
. William can work at most 5 days before having a day off
. Richard can work at most 5 days before having a day off
. Richard can work at most 5 days before having a day off
. Richard can work at most 5 days before having a day off
. Richard can work at most 5 days before having a day off
. Richard can work at most 5 days before having a day off
. Richard can work at most 5 days before having a day off
. Richard can work at most 5 days before having a day off
. Richard can work at most 5 days before having a day off
. Richard can work at most 5 days before having a day off
. Kristen can work at most 5 days before having a day off
. Kristen can work at most 5 days before having a day off
. Kristen can work at most 5 days before having a day off
. Kristen can work at most 5 days before having a day off
. Kristen can work at most 5 days before having a day off
. Kristen can work at most 5 days before having a day off
. Kristen can work at most 5 days before having a day off
. Kristen can work at most 5 days before having a day off
. Kristen can work at most 5 days before having a day off
. Kevin can work at most 5 days before having a day off
. Kevin can work at most 5 days before having a day off
. Kevin can work at most 5 days before having a day off
. Kevin can work at most 5 days before having a day off
. Kevin can work at most 5 days before having a day off
. Kevin can work at most 5 days before having a day off
. Kevin can work at most 5 days before having a day off
. Kevin can work at most 5 days before having a day off
. Kevin can work at most 5 days before having a day off
. Megan should work at least 2 days before having a day off
. Katherine should work at least 2 days before having a day off
. Robert should work at least 2 days before having a day off
. Jonathan should work at least 2 days before having a day off
. William should work at least 2 days before having a day off
. Richard should work at least 2 days before having a day off
. Kristen should work at least 2 days before having a day off
. Kevin should work at least 2 days before having a day off
. Megan should work at most 1 weekends
. Katherine should work at most 1 weekends
. Robert should work at most 1 weekends
. Jonathan should work at most 1 weekends
. William should work at most 1 weekends
. Richard should work at most 1 weekends
. Kristen should work at most 1 weekends
. Kevin should work at most 1 weekends
. Megan should not work on Mon 1
. Katherine should not work on Sat 1
. Robert should not work on Tue 2
. Jonathan should not work on Wed 1
. William should not work on Wed 2
. Richard should not work on Sat 1
. Kristen should not work on Tue 1
. Kevin should not work on Mon 2
. Megan should have at least 2 off consecutively
. Katherine should have at least 2 off consecutively
. Robert should have at least 2 off consecutively
. Jonathan should have at least 2 off consecutively
. William should have at least 2 off consecutively
. Richard should have at least 2 off consecutively
. Kristen should have at least 2 off consecutively
. Kevin should have at least 2 off consecutively
. Megan requests to work shift D on Wed 1
. Megan requests to work shift D on Thu 1
. Katherine requests to work shift D on Mon 1
. Katherine requests to work shift D on Tue 1
. Katherine requests to work shift D on Wed 1
. Katherine requests to work shift D on Thu 1
. Katherine requests to work shift D on Fri 1
. Robert requests to work shift D on Mon 1
. Robert requests to work shift D on Tue 1
. Robert requests to work shift D on Wed 1
. Robert requests to work shift D on Thu 1
. Robert requests to work shift D on Fri 1
. Jonathan requests to work shift D on Tue 2
. Jonathan requests to work shift D on Wed 2
. Richard requests to work shift D on Mon 1
. Richard requests to work shift D on Tue 1
. Kevin requests to work shift D on Wed 2
. Kevin requests to work shift D on Thu 2
. Kevin requests to work shift D on Fri 2
. Kevin requests to work shift D on Sat 2
. Kevin requests to work shift D on Sun 2
. Robert requests to not work shift D on Sat 2
. Robert requests to not work shift D on Sun 2
. Richard requests to not work shift D on Tue 2
. Kevin requests to not work shift D on Wed 1
. Kevin requests to not work shift D on Thu 1
. Shift D on Mon 1 must be covered by 5 nurses out of 8
. Shift D on Tue 1 must be covered by 7 nurses out of 8
. Shift D on Wed 1 must be covered by 6 nurses out of 8
. Shift D on Thu 1 must be covered by 4 nurses out of 8
. Shift D on Fri 1 must be covered by 5 nurses out of 8
. Shift D on Sat 1 must be covered by 5 nurses out of 8
. Shift D on Sun 1 must be covered by 5 nurses out of 8
. Shift D on Mon 2 must be covered by 6 nurses out of 8
. Shift D on Tue 2 must be covered by 7 nurses out of 8
. Shift D on Wed 2 must be covered by 4 nurses out of 8
. Shift D on Thu 2 must be covered by 2 nurses out of 8
. Shift D on Fri 2 must be covered by 5 nurses out of 8
. Shift D on Sat 2 must be covered by 6 nurses out of 8
. Shift D on Sun 2 must be covered by 4 nurses out of 8

<table><tr>
    <td width=30%>
        <center><img src="img/mus.png" /></center>
    </td>
    <td style="text-align: left">
    Trim model to minimal set of constraints <br>
     ... Minimize cognitive burden for user
    </td>
    
</tr></table>

### How to compute a MUS?

Deletion-based MUS algorithm

<small>[Joao Marques-Silva. Minimal Unsatisfiability: Models, Algorithms and Applications. ISMVL 2010. pp. 9-14]</small>

In [12]:
def mus_naive(constraints):
    m = cp.Model(constraints)
    assert m.solve() is False, "Model should be UNSAT"
    
    core = constraints
    i = 0
    while i < len(core):
        subcore = core[:i] + core[i+1:]
        if cp.Model(subcore).solve():
            i += 1 # removing makes it SAT, need to keep
        else:
            core = subcore # can safely delete 
    return core

### How to compute a MUS?

CPMpy implements an incremental version of this, using assumption variables

* `cpmpy.tools.mus`

In [13]:
from cpmpy.tools.mus import mus

subset = mus(model.constraints)

print("Length of MUS:", len(subset))
for cons in subset:  
    print("-", cons)

Length of MUS: 11
- Kevin requests to work shift D on Sun 2
- Robert requests to work shift D on Fri 1
- Robert requests to work shift D on Thu 1
- Robert requests to work shift D on Wed 1
- Robert requests to work shift D on Tue 1
- Robert requests to work shift D on Mon 1
- Richard should not work on Sat 1
- Katherine should not work on Sat 1
- Kevin should work at most 1 weekends
- Robert can work at most 5 days before having a day off
- Shift D on Sat 1 must be covered by 5 nurses out of 8

In [14]:
style = visualize_constraints(subset, nurse_view, factory)
display(style)

### Many MUS'es may exist...

<small> Liffiton, M.H., & Malik, A. (2013). Enumerating infeasibility: Finding multiple MUSes quickly. In
Proceedings of the 10th International Conference on Integration of AI and OR Techniques in Constraint
    Programming (CPAIOR 2013) (pp. 160–175)</small>

In [15]:
# MARCO MUS/MSS enumeration
from explanations.marco_mcs_mus import do_marco
cnt = 0

t0 = time.time()
for (kind, sset) in do_marco(model, solver="ortools"):
    if kind == "MUS":
        print("M", end="")
        cnt += 1
    else: # MSS
        print(".", end="")
    
    if time.time() - t0 > 20:  break  # for tutorial: break after 20s
print(f"\nFound {cnt} MUSes")

MMM....
Found 3 MUSes

### Many MUS'es may exist...

15+ exist for this little problem alone... Which one to show? 



In explanations less is more, so find <b>smallest one directly!</b>

### Correction subsets and MUS'es



<table><tr>
    <td width=10%>
        <center><img width=50% src="img/mus.png" /></center>
    </td>
    <td width=10%>
        <center><img width=50% src="img/mcs.png" /></center>
    </td> 
</tr></table>

### Hitting set duality

<table><tr>
    <td width=10%>
        <center><img width=60% src="img/mus.png" /></center>
    </td>
    <td width=10%>
        <center><img width=60% src="img/hittingset.png" /></center>
    <td width=10%>
        <center><img width=60% src="img/mcs.png" /></center>
    </td> 
</tr></table>

Given all correction subsets, smallest minimal unsatisfiable subset = smallest hitting set to MCS'es

Enumerating all correction subsets is also expensive...

Do it incremental!

### How to calculate a Smallest MUS (sMUS)?

1) Initialize sets to hit with MCS
2) Find hitting set and check if SAT
3) If SAT: take complement of HS and add to sets to hit
4) Repeat until HS is UNSAT

<center><img src="img/smus.png" width=60% /></center>

In [16]:
from explanations.subset import smus

small_subset = smus(model.constraints, hs_solver="gurobi")

print("Length of sMUS:", len(small_subset))
for cons in small_subset:  
    print("-", cons)

Set parameter Username
Academic license - for non-commercial use only - expires 2023-11-09
Length of sMUS: 3
- Robert should not work on Tue 2
- Richard requests to not work shift D on Tue 2
- Shift D on Tue 2 must be covered by 7 nurses out of 8

In [17]:
style = visualize_constraints(small_subset, nurse_view, factory)
display(style)

## Step-wise explanation

<table><tr>
    <td style="text-align: left">
        
- We were lucky, the SMUS is pretty understandable

- What if its not?

- Disect MUS into smaller steps - cfr Step-wise Explanations
        
    </td>
    <td width=20%>
<center><img src="img/explain_step-wise.png" /></center>
    </td>        
</tr></table>

In [18]:
style = visualize_constraints(subset, nurse_view, factory)
display(style)

In [19]:
from explanations.stepwise import find_sequence
seq = find_sequence(subset)

Found sequence of length 11
Filtered sequence to length 11

In [20]:
nurse_view.clear()
visualize_step(seq[0], nurse_view, factory)

Propagating constraint: Robert requests to work shift D on Fri 1

In [21]:
visualize_step(seq[1], nurse_view, factory)

Propagating constraint: Robert requests to work shift D on Wed 1

In [22]:
visualize_step(seq[2], nurse_view, factory)

Propagating constraint: Robert requests to work shift D on Tue 1

In [23]:
visualize_step(seq[3], nurse_view, factory)

Propagating constraint: Katherine should not work on Sat 1

In [24]:
visualize_step(seq[4], nurse_view, factory)

Propagating constraint: Kevin requests to work shift D on Sun 2

In [25]:
visualize_step(seq[5], nurse_view, factory)

Propagating constraint: Robert requests to work shift D on Mon 1

In [26]:
visualize_step(seq[6], nurse_view, factory)

Propagating constraint: Kevin should work at most 1 weekends

In [27]:
visualize_step(seq[7], nurse_view, factory)

Propagating constraint: Richard should not work on Sat 1

In [28]:
visualize_step(seq[8], nurse_view, factory)

Propagating constraint: Robert requests to work shift D on Thu 1

In [29]:
visualize_step(seq[9], nurse_view, factory)

Propagating constraint: Robert can work at most 5 days before having a day off

In [30]:
visualize_step(seq[10], nurse_view, factory)

Propagating constraint: Shift D on Sat 1 must be covered by 5 nurses out of 8

## Hands-on Explainable Constraint Programming (XCP)

<table><tr>
    <td width=20%>
<center><img src="img/interaction_figure4.png" /></center>
    </td>
    <td style="text-align: left">

* <u>The model</u>: Nurse Rostering
* <u>The system</u>: CPMpy modeling library
* <u>Explain UNSAT</u>:
    * Causal explanations (MUS, OUS, sequence)
    * <b>Conversational explanations</b>
* <u>Explain a solution</u>:
    * Causal explanations
    * Contrastive explanations
    </td>
        
</tr></table>

## Fixing UNSAT Models

<table><tr>
    <td width=20%>
<center><img src="img/fixing_mcs.png" /></center>
    </td>
    <td style="text-align: left">
        How to modify model in order to find solution? <br>
        <br>
        First idea: find constraints to be removed: correction subset! 
    </td>
</tr></table>

### How to compute?

Grow-based MCS

In [31]:
def mcs_naive(constraints):
    mss = []
    mcs = []
    for cons in constraints:
        if cp.Model(mss + [cons]).solve():
            mss += [cons]
        else:
            mcs += [cons]
    return mcs

In [32]:
from explanations.subset import mcs

corr_subset = set(mcs(model.constraints))

print("By removing these constraints, the model becomes SAT:")
for cons in corr_subset: print(cons)
    
visualize_constraints(corr_subset, nurse_view, factory)

By removing these constraints, the model becomes SAT:
Shift D on Sat 1 must be covered by 5 nurses out of 8
Shift D on Mon 2 must be covered by 6 nurses out of 8
Shift D on Sun 1 must be covered by 5 nurses out of 8
Shift D on Thu 2 must be covered by 2 nurses out of 8
Shift D on Tue 2 must be covered by 7 nurses out of 8

In [33]:
mss = []
for cons in toplevel_list(model.constraints, merge_and=False):
    if cons not in corr_subset:
        mss.append(cons)

corrected_model = cp.Model(mss)
assert corrected_model.solve()

visualize(nurse_view.value(), factory)

### Cardinal-minimal MCS

<table><tr>
    <td width=30%>
        <center><img src="img/mcs.png" /></center>
    </td>
    <td style="text-align: left">
        Minimal MCS corresponds to Maximal MSS <br>
          Find unweighted MAX-CSP solution
    </td>
    
</tr></table>

In [34]:
from explanations.subset import optimal_mcs

corr_subset = set(optimal_mcs(model.constraints))
print("By removing these constraints, the model becomes SAT:")
for cons in corr_subset: print(cons)
    
visualize_constraints(corr_subset, nurse_view, factory)

By removing these constraints, the model becomes SAT:
Shift D on Sat 1 must be covered by 5 nurses out of 8
Richard requests to not work shift D on Tue 2
Robert should not work on Tue 2
Shift D on Sun 1 must be covered by 5 nurses out of 8

In [35]:
mss = []
for cons in toplevel_list(model.constraints, merge_and=False):
    if cons not in corr_subset:
        mss.append(cons)

corrected_model = cp.Model(mss)
assert corrected_model.solve()

visualize(nurse_view.value(), factory)

### Relaxation of constraints

<table><tr>
    <td style="text-align: left">
        
* Removing constraints from model is DRASTIC

* What happens if you break a leg on Sunday? ...

* Solution: modify constraints in-place

    </td>
    <td width=20%>
<center><img src="img/fixing_relax.png" /></center>
    </td>        
</tr></table>

### Relaxation of constraints

* Introduce slack for each constraint
* Slack indicates how much a constraint may be violated
  * Less is better of course!

* Minimize _max_ of slack values

E.g., _relax_ cover requirement for shifts

<small>Senthooran I, Klapperstueck M, Belov G, Czauderna T, Leo K, Wallace M, Wybrow M, Garcia de la Banda M. Human-centred feasibility restoration in practice. Constraints. 2023 Jul 20:1-41.</small>

In [36]:
slack_factory = NurseSchedulingFactory(data)
slack_model, slack_nurse_view, slack_view = slack_factory.get_slack_model()  # CMPpy Model

for _, cover in slack_factory.data.cover.iterrows():
    # read the data
    day = cover["# Day"]
    shift = slack_factory.shift_name_to_idx[cover["ShiftID"]]
    requirement = cover["Requirement"]
    
    nb_nurses = cp.Count(nurse_view[:, day], shift)
    expr = nb_nurses == requirement-slack_view[day]

In [37]:
slack_factory = NurseSchedulingFactory(data)
slack_model, slack_nurse_view, slack_view = slack_factory.get_slack_model()  # CMPpy Model

slack_model.solve()
print("Slack:", slack_view.value())

visualize(slack_nurse_view.value(), factory)

Slack: [-1  1  0 -2  0  3  3  3  3 -1 -3  2  3  2]

## Hands-on Explainable Constraint Programming (XCP)

<table><tr>
    <td width=20%>
<center><img src="img/interaction_figure4.png" /></center>
    </td>
    <td style="text-align: left">

* <u>The model</u>: Nurse Rostering
* <u>The system</u>: CPMpy modeling library
* <u>Explain UNSAT</u>:
    * Causal explanations (MUS, OUS, sequence)
    * Conversational explanations
* <u><b>Explain a solution</b></u>:
    * Causal explanations
    * Contrastive explanations
    </td>
        
</tr></table>

## Reformulation as Optimization problem

- Formulate the Nurse Rostering Problem as a Weighted MAX-CSP problem
- Using hard constraints and soft constraints
- Preferences modeled as soft constraints, and minimize penalty of unsatisfied preferences

In [38]:
model, nurse_view = factory.get_full_model()
assert model.solve()

opt_sol = nurse_view.value()
display(visualize(opt_sol, factory))
print("Total penalty:", model.objective_value())
print("Time to calculate:", model.status().runtime, "s")

Total penalty: 607
Time to calculate: 0.359149 s

## Multiple solutions

- User not satisfied with optimal solution?

- There could be multiple optimal solutions

- Find (a subset of) them converting it to a decision problem
    - Enforcing the optimal objective value

- Use `solveAll()`

In [39]:
opt_model = cp.Model(model.constraints)
opt_model += (model.objective_ == model.objective_value())

opt_model.solveAll(solver="ortools", solution_limit=3,
                   display=lambda: display(visualize(nurse_view.value(), factory)))  # callback that visualizes sols

3

## Causal explanation: Why is there no better solution?

<table><tr>
    <td style="text-align: left">
        
* Reduce to UNSAT problem

* Add better-than optimal objective function as constraint 

* Then use the techniques mentioned to explain why it is now UNSAT

    </td>
    <td width=20%>
<center><img src="img/why_not_better.png" /></center>
    </td>        
</tr></table>

<font size="-1"> Bleukx, I., Devriendt, J., Gamba, E., Bogaerts B., & Guns T. (2023). Simplifying Step-wise Explanation Sequences. In International Conference on Principles and Practice of Constraint Programming 2023</font>

In [40]:
opt_model = cp.Model(model.constraints)
opt_model += (model.objective_ < model.objective_value())

opt_model.solve()

False

## Hands-on Explainable Constraint Programming (XCP)

<table><tr>
    <td width=20%>
<center><img src="img/interaction_figure4.png" /></center>
    </td>
    <td style="text-align: left">

* <u>The model</u>: Nurse Rostering
* <u>The system</u>: CPMpy modeling library
* <u>Explain UNSAT</u>:
    * Causal explanations (MUS, OUS, sequence)
    * Conversational explanations
* <u>Explain a solution</u>:
    * Causal explanations
    * <b>Contrastive explanations</b>
    </td>
        
</tr></table>

## Changing the solution

<table><tr>
    <td style="text-align: left">
        
* Some assignment might not be what the user wants or expects
        
* Preferences or constraints not given to the model
        
* Add given assignment as constraint and solve again
        
    * May result in less optimal objective value
        
* Show new (changed) solution to the user

    </td>
    <td width=30%>
<center><img src="img/changing_solution.png" /></center>
    </td>        
</tr></table>

In [41]:
mmodel = model.copy()
mmodel += nurse_view[2,5] == 0 # robert does not want to work on 1st saturday

assert mmodel.solve()
print("Total penalty: ", mmodel.objective_value())

Total penalty:  608

In [42]:
style = highlight_changes(nurse_view, opt_sol, factory)
display(style)

## Slightly changing the solution



<table><tr>
    <td style="text-align: left">
        
* Previous solution is very different from original!

* Change only a few parts of it?

* Tradeoff between difference and penalty

    </td>
    <td width=30%>
<center><img src="img/changing_solution.png" /></center>
    </td>        
</tr></table>

In [43]:
mmodel += cp.sum(nurse_view != opt_sol)<= 3 # allow to make 3 changes
assert mmodel.solve()
print("Total penalty: ", mmodel.objective_value())

style = highlight_changes(nurse_view, opt_sol, factory)
display(style)

Total penalty:  708

## Counterfactual optimisation model


<table><tr>
    <td style="text-align: left">

* "Why not Y" -> "Under what conditions would Y be optimal?"

<small>[Korikov, Anton, and J. Christopher Beck. "Counterfactual explanations via inverse constraint programming." In 27th International Conference on Principles and Practice of Constraint Programming (CP 2021).]</small>

        
* <u>Given</u>: model with linear objective function $w*c$, and a 'foil' Y (partial assignment) <br />
* <u>Find</u>: new objective function weights $w'$ such that optimal solution satisfies $Y$
        
* Explains necessary changes to the <b>model</b> rather than the solution!

    </td>
    <td width=30%>
<center><img src="img/change_model.png" /></center>
    </td>        
</tr></table>

## Counterfactual optimisation model

Find currently optimal solution $X$:

In [44]:
factory = NurseSchedulingFactory(data)
model, nurse_view = factory.get_full_model()

model.solve()
print("Total penalty: ", model.objective_value())
visualize(nurse_view.value(), factory)

Total penalty:  607

## Counterfactual optimisation model

Robert is unhappy!

In [45]:
nurse = "Robert"

for (w,pref) in zip(*model.objective_.args):
    if nurse in str(pref):
        print(f"{pref.value()} \t w:{w} \t{pref}")

False 	 w:1 	Robert requests to work shift D on Mon 1
False 	 w:1 	Robert requests to work shift D on Tue 1
False 	 w:1 	Robert requests to work shift D on Wed 1
True 	 w:1 	Robert requests to work shift D on Thu 1
True 	 w:1 	Robert requests to work shift D on Fri 1
False 	 w:1 	Robert requests to not work shift D on Sat 2
False 	 w:1 	Robert requests to not work shift D on Sun 2

In [46]:
desc = "Robert requests to work shift D on Fri 1"
weight,d_on_fri1 = next((w,pref) for w,pref in zip(*model.objective_.args) if str(pref) == desc)
print(f"{d_on_fri1.value()} \t w:{w} \t{d_on_fri1}")

True 	 w:1 	Robert requests to work shift D on Fri 1

## Counterfactual optimisation model

Robert does not want to work on Fri 1!

How should he minimally change *his* preferences for that?

In [47]:
foil = {d_on_fri1 : False}  # don't want to work on Fri 1!
print("Foil:", foil)
print("\n")

other_prefs = [(w,pref) for w,pref in zip(*model.objective_.args) if nurse in str(pref) and str(pref) != desc]
print(f"{nurse}'s other preferences:")
for w,pref in other_prefs:
    print("- Weight",w,":",pref)

Foil: {roster[2,4] != 1: False}


Robert's other preferences:
- Weight 1 : Robert requests to work shift D on Mon 1
- Weight 1 : Robert requests to work shift D on Tue 1
- Weight 1 : Robert requests to work shift D on Wed 1
- Weight 1 : Robert requests to work shift D on Thu 1
- Weight 1 : Robert requests to not work shift D on Sat 2
- Weight 1 : Robert requests to not work shift D on Sun 2

## Counterfactual optimisation model

Algorithmically, it is a beautiful inverse optimisation problem with a multi-solver main/subproblem algorithm

In [48]:
from explanations.counterfactual import inverse_optimize

new_obj = inverse_optimize(model=model, minimize=True,
                           user_sol = foil,
                           allowed_to_change = set(p[1] for p in other_prefs))
print(f"Done! Found solution with total penalty {new_obj.value()}, was {model.objective_value()}\n")

# Let's look at the preferences he should enter, to avoid Fri 1!
print(f"{nurse}'s new preferences:")
for w,pref in zip(*new_obj.args):
    if nurse in str(pref) and str(pref) != desc and w != 1:  # previous weights were 1
        print("Weight",w,":",pref)

Done! Found solution with total penalty 607, was 608

Robert's new preferences:
Weight 0 : Robert requests to not work shift D on Sat 2

## Hands-on Explainable Constraint Programming (XCP)

<table><tr>
    <td width=20%>
<center><img src="img/interaction_figure4.png" /></center>
    </td>
    <td style="text-align: left">

* <u>The model</u>: Nurse Rostering
* <u>The system</u>: CPMpy modeling library
* <u>Explain UNSAT</u>:
    * Causal explanations (MUS, OUS, sequence)
    * Conversational explanations
* <u>Explain a solution</u>:
    * Causal explanations
    * Contrastive explanations
    </td>
        
</tr></table>

<img src="img/chatopt.png" height="800px"/>

## Explainable Constraint Programming (XCP)

In general, "<b>Why X?</b>" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (with X a solution or UNSAT)

3 patterns:
* <u>Causal explanation</u>:
  * How was X derived?
* <u>Contrastive explanation</u>:
  * Why X and not Z?
* <u>Conversational explanation</u>:
  * Iteratively refine explanation & model

## Connections to wider XAI

* Explanations in planning, e.g. MUGS (Eiflet et al), Model Reconciliation (Chakraborti et al), ...
* Explanations for KR/justifications (Swartout et al), ASP (Fandinno et al), in OWL (Kalyanpur et al), ...
* Formal explanations of ML models (e.g. impl. hitting-set based, Ignatiev et al)

## Explainable Constraint Programming (XCP)

Recurring challenges:
* <u>Definition of explanation</u>: question and answer format
* <u>Computational efficiency</u>
* <u>Explanation selection</u>: which explanation to show
* <u>User Interaction?</u> (visualisation, conversational, statefull, ...)
* <u>Explanation evaluation</u>: computational, formal, user survey, user study, ...

## Conclusion

<table><tr>
    <td style="text-align: left">

* Explanation of UNSAT/SAT/Opt
        
* Causal explanations relate back to finding a (cost-optimal) MUS

* Need for programmable multi-solver tooling: CPMpy
        
&nbsp;
        
* Many open challenges and new problems to be discovered!
* Less developed: contrastive explanations, conversational explanations  
* We need incremental CP-solvers!
      
    </td>
    <td width=30%>
<center><img src="img/interaction_figure4.png" /></center>
    </td>
        
</tr></table>

### References mentioned (many more exist!!!)

<small>
    
##### MUS
* Liffiton, M. H., & Sakallah, K. A. (2008). Algorithms for computing minimal unsatisfiable subsets of constraints. Journal of Automated Reasoning, 40, 1-33.

* Ignatiev, A., Previti, A., Liffiton, M., & Marques-Silva, J. (2015, August). Smallest MUS extraction with minimal hitting set dualization. In International Conference on Principles and Practice of Constraint Programming (pp. 173-182). Cham: Springer International Publishing.

* Joao Marques-Silva. Minimal Unsatisfiability: Models, Algorithms and Applications. ISMVL 2010. pp. 9-14

##### Feasibility restoration

* Senthooran, I., Klapperstueck, M., Belov, G., Czauderna, T., Leo, K., Wallace, M., ... & De La Banda, M. G. (2021). Human-centred feasibility restoration. In 27th International Conference on Principles and Practice of Constraint Programming (CP 2021). Schloss Dagstuhl-Leibniz-Zentrum für Informatik.

##### Explaining optimization problems
* Korikov, A., & Beck, J. C. (2021). Counterfactual explanations via inverse constraint programming. In 27th International Conference on Principles and Practice of Constraint Programming (CP 2021). Schloss Dagstuhl-Leibniz-Zentrum für Informatik.

##### Explanation in planning, ASP,  KR
* Eifler, Rebecca, Michael Cashmore, Jörg Hoffmann, Daniele Magazzeni, and Marcel Steinmetz. "A new approach to plan-space explanation: Analyzing plan-property dependencies in oversubscription planning." In Proceedings of the AAAI Conference on Artificial Intelligence, vol. 34, no. 06, pp. 9818-9826. 2020.
* Chakraborti, Tathagata, Sarath Sreedharan, Yu Zhang, and Subbarao Kambhampati. "Plan explanations as model reconciliation: moving beyond explanation as soliloquy." In Proceedings of the 26th International Joint Conference on Artificial Intelligence, pp. 156-163. 2017.
* Fandinno, Jorge, and Claudia Schulz. "Answering the “why” in answer set programming–A survey of explanation approaches." Theory and Practice of Logic Programming 19, no. 2 (2019): 114-203.
* Swartout, William, Cecile Paris, and Johanna Moore. "Explanations in knowledge systems: Design for explainable expert systems." IEEE Expert 6, no. 3 (1991): 58-64.
* Kalyanpur, Aditya, Bijan Parsia, Evren Sirin, and Bernardo Cuenca-Grau. "Repairing unsatisfiable concepts in OWL ontologies." In The Semantic Web: Research and Applications: 3rd European Semantic Web Conference, ESWC 2006 Budva, Montenegro, June 11-14, 2006 Proceedings 3, pp. 170-184. Springer Berlin Heidelberg, 2006.

#### Formal explantions in ML
* Ignatiev, Alexey, Nina Narodytska, and Joao Marques-Silva. "Abduction-based explanations for machine learning models." In Proceedings of the AAAI Conference on Artificial Intelligence, vol. 33, no. 01, pp. 1511-1519. 2019.

</small>